<div class="movie-list-item">
    <img class="image" src="{{movie.image}}">
    <div>
        <a class="title" [routerLink]="['MovieDetail', { slug: movie.slug }]">{{movie.title}}</a>
        <span class="rating btn info">{{movie.rating}}</span>
        <br>
        <a class="watch-list btn action" href="javascript:void(0)">
            Add to Watch List
        </a>
    </div>
    <div>
        <strong>Release Date:</strong> {{movie.date | date:'longDate'}}<br>
        <strong>Run Time:</strong> {{movie.run_time | timeFormat}}
    </div>
</div>
