<div class="search separated-bottom">
    <input
        class="search"
        [(ngModel)]="filter"
        (keyup)="filterData()"
        placeholder="🔍 search"
    />
</div>

<div
    *ngIf="displayedMovies && movies"
    class="info separated-bottom"
>
    <div>1 - {{ displayedMovies.length }} of {{ movies.length }} results</div>
    <div>
        <label for="sortBy">Sort By:</label>
        <select
            id="sortBy"
            [(ngModel)]="sortBy"
            (change)="sortData()"
        >
            <option value="date" selected>Date</option>
            <option value="title">Name</option>
        </select>
    </div>
</div>

<ul class="movie-list">
    <li *ngFor="#movie of displayedMovies">
        <movie-list-item
            [movie]="movie"
        >
        </movie-list-item>
    </li>
</ul>
